{% extends "base.html" %}
{% block title %} About |{% endblock title %}
{% block body %} 
<div class="container">
    <main role="main">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container my-3">
            <h1 class="display-3">वैदिकवस्त्र: Embrace Tradition, Celebrate Culture</h1>
            <p>VedicVastra, a global sensation renowned for its exquisite cultural and traditional attire. From timeless classics to celebratory ensembles, VedicVastra offers a diverse range of men's and women's clothing, perfect for every occasion. Experience the essence of heritage and elegance with VedicVastra, where style meets tradition in every stitch.</p>
            <p>वेदिकवस्त्र: विश्वभर में प्रसिद्ध, प्राचीन और परंपरागत वस्त्रों के लिए एक अत्यंत उत्कृष्ट नाम। समय से पहले क्लासिक्स से लेकर उत्सवी एंसेम्बल्स तक, वेदिकवस्त्र में पुरुषों और महिलाओं के विविध वस्त्र उपलब्ध हैं, जो हर अवसर के लिए उत्कृष्ट हैं। वेदिकवस्त्र के साथ विरासत और शानदारता का अनुभव करें, जहां स्टाइल हर सिलाई में परंपरा से मिलता है|            </p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more &raquo;</a></p>
          </div>
        </div>
  <br>
  <br>
  <br>  
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Traditional Wears</h2>
              <p>पारंपरिक पहनावा </p>
              <p>Sherwani: Typically worn for weddings and formal occasions, especially in North India.</p>
                <p>Saree: A traditional garment for women in India, worn on various cultural and formal occasions.</p>
                <p>  Dhoti Kurta: A traditional Indian outfit for men,worn during festivals and religious ceremonies.</p>
              <p><a class="btn btn-secondary" href="/traditional" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Cultural Wears</h2>
              <p>सांस्कृतिक पहनावा </p>
              <p>Lehenga Choli: A traditional attire worn by women, especially during weddings and festivals like Navratri.</p>
              <p>Kurta Pajama: A versatile outfit for men, suitable for cultural gatherings and festive occasions.</p>
              <p>Gujarati Garba Kediyu: Traditional attire worn by men during Garba dance, reflecting Gujarati culture.</p>
              <p><a class="btn btn-secondary" href="/cultural" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Occasional Wears</h2>
              <p> विशेष अवसरीय पहनावा</p>
              <p>Anarkali Suit: Elegant attire for women, suitable for parties and special occasions.</p>
            </p> Nehru Jacket: A sleeveless jacket worn over a kurta, often worn for formal and cultural events.</p>
        </p>Rajputi Poshak: Elaborate traditional attire for women in Rajasthan, worn during weddings and cultural events.</p>
              <p><a class="btn btn-secondary" href="/ocassional" role="button">View details &raquo;</a></p>
            </div>
          </div>
  
          <hr>
  
        </div> <!-- /container -->
  
      </main>   
</div>{% endblock body %}