{% extends "base.html" %}
{% block title %}Cultural Wears |{% endblock title %}
{% block body %} 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container my-2   px-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/kediyu.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Gujarati Kediyu Mens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹2499</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/kediyudress.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">  Gujarati Kediyu Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹2900</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/gamosa&dhoti.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">  Gamosa & Dhoti </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1900</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card shadow-sm">
            <img src="/static/saree.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Saree Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹2500</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/mekhela.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">Mekhela Chador Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1321</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/pathani.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Pathani Kurta Set</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1100</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/bandi.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Bandi Jacket</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹699</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/ghaghra.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Ghaghra-Choli Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1080</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/daman.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Damaan Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1250</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/punjabisuit.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Punjabi Suit </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹760</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock body %}