{% extends "base.html" %}
{% block title %}Ocassional Wears |{% endblock title %}
{% block body %} 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container my-2   px-0">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-5">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/lahenga.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">  Lahenga Choli Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹3200</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/bandhgala.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Bandhgala Suit</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1490</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/nehru.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">  Nehru Kurta Set</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1299</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="col">
        <div class="card shadow-sm">
            <img src="/static/anarkali.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Anarkali Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1230</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/bsuit.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">Banarasi Suit Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹1207</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/kanjivaram.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Kanjivaram Saree Women</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹2305</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/angarkha.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Angarkha Women</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹799</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/banarsi.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Banarasi Saree Womens</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹2700</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/bundi.jpeg" width=225 height=200>
          <div class="card-body">
            <p class="card-text">Knitted Bundi</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹899</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="/static/suit.jpg" width=225 height=200>
          <div class="card-body">
            <p class="card-text"> Rust Checked Suit</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-outline-secondary">₹5299</a>
                <a href="/address" class="btn btn-outline-warning">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
{% endblock body %}