{% extends "base.html" %}
{% block title %} Services |{% endblock title %}
{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <!-- Service 6 - Bootstrap Brain Component -->
<section class="bsb-service-6 py-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7">
          <h3 class="fs-6 mb-2 text-secondary text-center text-uppercase">VedicVastra</h3>
          <br>
          <h2 class="display-5 mb-4 mb-md-5 text-center">वैदिकवस्त्र: Embrace Tradition, Celebrate Culture</h2>
          <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
        </div>
      </div>
    </div>
  
    <div class="container overflow-hidden">
      <div class="row gy-4 gy-md-0 gx-xxl-5">
        <div class="col-12 col-md-4">
          <div class="card bg-transparent border-primary rounded-0">
            <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1" />
                  </svg>
                  <br>
                  <br>
              <h3 class="h2 mb-4">Free Shipping</h3>
              <p class="mb-4 text-secondary">Eliminating shipping costs</p>
            
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card bg-transparent border-primary rounded-0">
            <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-basket2-fill" viewBox="0 0 16 16">
                    <path d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0zm4-1a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0v-2a1 1 0 0 1 1-1" />
                  </svg>
                  <br>
                  <br>
              <h3 class="h2 mb-4">24/7 Support</h3>
              <p class="mb-4 text-secondary">Better Shopping Experience</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card bg-transparent border-primary rounded-0">
            <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-folder-symlink-fill" viewBox="0 0 16 16">
                    <path d="M13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2l.04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3M2.19 3q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293L7.586 3zm9.608 5.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742" />
                  </svg>
                  <br>
                  <br>
              <h3 class="h2 mb-4">Free Returns</h3>
              <p class="mb-4 text-secondary">Customer's peace of mind</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> {% endblock body %}
