{% extends "base.html" %}
{% block title %} Order Placed |{% endblock title %}
{% block body %}
<br>    
<br>
<br>
<div class="d-flex justify-content-center align-items-center vh-50 bg-light">
    <div class="card text-center p-3 shadow" style="border: none; border-radius: 10px;">
        <div class="card-body">
            <div class="mb-4">
                <img src="/static/order.png">
            </div>
            <h2 class="card-title">Thank you for ordering!</h2>
            <p class="card-text text-muted">Your booking has been confirmed.Check your emails.</p>
            <p class="card-text text-muted">To check order updates, visit order status & get your order information || For any query or complains, contact us</p>
            <div class="d-flex justify-content-center mt-4">
                <a href="/status" class="btn btn-outline-primary mr-4">Order Status </a>
                <a href="/" class="btn btn-primary mr-4">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}